.contact-model {
  font-size: 0.75rem;
  color: $text-color;

  h2 {
    font-size: 0.75rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
  }

  form {
    .form-control {
      border-radius: 0;
      box-shadow: none;
      background-color: #f0f0f0;
      border: 1px solid #b1b3b4;
      height: 25px;
      line-height: 25px;
      margin-bottom: 8px;
      padding: 0 10px;
    }
  }

  .btn {
    background: #f0f0f0;
    padding: 4px 8px;
    text-transform: uppercase;
    font-size: 0.75rem;
  }
}
