$text-color: #171c21;

.header {
  text-align: center;
  .logo {
    height: 64px;
    width: auto;
    margin-bottom: 1rem;
  }

  .menu {
    display: flex;
    list-style: none;
    justify-content: center;
    padding-left: 0;
  }

  .menu-item {
    display: block;
    font-size: 14px;
    margin: 0 0.75rem;
    text-transform: uppercase;
    position: relative;

    &:hover {
      .submenu {
        display: block;
      }
    }
  }

  .menu-link,
  .submenu-link {
    color: $text-color;
    text-decoration: none;
    padding: 2px 5px;

    &.active {
      background-color: #f0f0f0;
    }
  }

  .submenu {
    position: absolute;
    list-style: none;
    text-align: left;
    z-index: 2;
    left: 0;
    padding-left: 0;
    display: none;
  }

  .submenu-item {
    &:hover {
      background-color: #f0f0f0;
    }
  }

  // .submenu-link {
  //   padding-left: 0;
  // }
}

.section-title {
  font-size: 26px;
  color: $text-color;
  text-align: center;
  margin-bottom: 30px;
}

.model-card {
  &__image-wrapper {
    position: relative;

    &:hover {
      .image {
        filter: grayscale(0%);
      }

      .overlay {
        display: block;
      }
    }

    .image {
      height: 300px;
      width: 100%;
      object-fit: cover;
      filter: grayscale(100%);
      transition: all 0.5s linear;
    }

    .overlay {
      position: absolute;
      background-color: rgba(255, 255, 255, 0.5);
      bottom: 0;
      left: 0;
      right: 0;
      display: none;

      .text {
        display: block;
        text-align: center;
        font-size: 10px;
        text-align: center;
        margin-top: 0.25rem;
        margin-bottom: 0.25rem;
        color: $text-color;
        text-transform: lowercase;
      }
    }
  }

  &__model-name {
    margin-top: 0.25rem;
    font-size: 12px;
    text-align: center;
    color: $text-color;
    text-transform: uppercase;
  }
}
.footer {
  .socials {
    text-align: left;
  }

  .contact-info {
    display: flex;
    justify-content: center;
    font-size: 12px;
    list-style: none;
    margin-bottom: 0;
    flex-wrap: wrap;
    padding-left: 0;

    &__item {
      display: inline-block;
      margin-top: 0.5rem;

      &:not(:last-child) {
        margin-right: 0.5rem;
      }
    }
  }
}

@import "./casting";
@import "./team";
@import "./branches";
@import "./recruitment";
@import "./contact-model";

.input-container {
  text-align: center;
  margin-bottom: 1.5rem;
}

.input {
  font-size: 13px;
  text-align: center;
  border: none;
  color: black;
  border-bottom: 1px solid black;
  outline: none !important;

  &::placeholder {
    color: black;
  }
}
